@charset "utf-8";
/* CSS Document */
.header{background:#464242;
		height:80px
		}
img#logo{float:left;
			width:150px;
			height:40px;
			margin-left:10px;
			margin-top:14px;			
}
.art{
	width:200px;
	height:130px;
	padding-left:25px
}
ul{
	padding-bottom:30px;
	font-family:"Microsoft Yahei"
}
.bw{
	position:absolute;
	display:inline-block;
	margin:5px 20px;
}
.bp{
	border:2px solid #ADADAD;
	margin: 30px;
	position:relative;
	height:170px;
	width:220px;
	}
.pic{
		height:130px;
		width:200px;
		position:absolute;
		margin-left:10px;
		margin-top:30px
}
.nav li{display:inline;
		float:right;
		padding:5px;
		font-size:12px;
		margin-top:15px
		}
.nav a{color:#FFFFFF}
table tr td,th{border:1px solid #000;
	}
.first{
		font-family:"Microsoft Yahei";
	   	font-weight:bold;
		padding-left:20px;
		padding-top:25px
		}
.second{
	font-family: "Microsoft Yahei";
	font-size: 16px;
	color: #7C7474;
	padding-left:20px
}
.third{
	font-family:"Microsoft Yahei";
	font-size:12px;
	color:#777575;
}
table{
	  margin-left:20px;
	  margin-right:50px;
	  width:90%;
	  border-color:#676767;
	  padding-bottom:30px;
	  border-collapse:collapse}
th{
	background-color:#434343;
	color:#FFFFFF
	}
.total{
		background-color:#C9C8C8
		}
.total2{
		background-color:#C9C8C8;
}
.blank{
		height:20px}
p{text-indent:2em;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px
	}
.article{box-shadow:0px 0px 12px;
	background-color:#FFFFFF;
	width:60%;
	margin-top:20px;
	margin-right:320px;
	}
.picture{box-shadow:0px 0px 12px;
	background-color:#FFFFFF;
	width:60%;
	margin: 20px 320px 0 0;
	padding:20px 0;
}
ol{padding-left:50px;
	font-weight:bold
}
hr{
	display:block;
	float:left;
	margin-left:18px;
	margin-top:12px
	}
.branch{box-shadow:0px 0px 12px;
	background-color:#FFFFFF;
	margin-top:20px;
	width:300px;
	padding:20px;
	osition:absolute;
	float:right
}
.lrt{
	margin-left:25px;
	padding-top:18px
}
form{
	text-align:center;
	vertical-align:middle
	}
.mail{color:#C3C3C3;
	  margin-top:2px;
	  padding:0 0 0 100px;
	  display:block;
	  font-size:12px
	}
.pass1{margin-left:34px}
.city{margin-left:-30px}
.hobby{margin-left:92px}
.pd{margin-left:-18px}
.submit{border:1px solid #1e7db9;
box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
background: linear-gradient(top,#42a4e0,#2e88c0);
margin-top:10px;
margin-bottom:20px;
margin-left:10px;
margin-right:10px;
color:#FFFFFF
}
footer{
		text-align:center;
		color:#FFFFFF;
		font-size:14px;
		font-weight:bold;
		background-color:#000000;
		height:50px
}
